<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestion Stage{% endblock %}</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="left-menu">
        <div class="logo"><i class="fa fa-address-book-o"></i>
            <div>Gestion des stages</div>
        </div>
        <div class="accordion">
            <div class="section">
                <input type="radio" name="accordion-1" id="section-1" value="toggle"/>
                <label for="section-1"> <span>Menu</span></label>
            </div>
            <div class="section">
                <input type="radio" name="accordion-1" id="section-2"/>
                <label for="section-2"><span>Classe</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('Classroom_add') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        <a href="{{ path('Classroom_search') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>
                    </ul>
                </div>
            </div>
            <div class="section">
                <input type="radio" name="accordion-1" id="section-3"/>
                <label for="section-3"><span>Etudiant</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('Student_add') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        <a href="{{ path('Student_search') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>
                    </ul>
                </div>
            </div>
            <div class="section">
                <input type="radio" name="accordion-1" id="section-4"/>
                <label for="section-4"><span>Entreprise</span></label>
                <div class="content">
                    <ul>
                        {#<li><i class="fa fa-list-alt"></i><span>Index</span></li>#}
                        <a href="{{ path('Company_add') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                    </ul>
                </div>
            </div>

            <div class="section">
                <input type="radio" name="accordion-1" id="section-5" value="toggle"/>
                <label for="section-5"> <span>Stage</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('internship_new') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        <a href="{{ path('internship_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>
                    </ul>
                </div>
            </div>

            <div class="section">
                <input type="radio" name="accordion-1" id="section-7"/>
                <label for="section-7"><span>Visite</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('visit_new') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        <a href="{{ path('visit_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>
                    </ul>
                </div>
            </div>

            <div class="section">
                <input type="radio" name="accordion-1" id="section-8"/>
                <label for="section-8"><span>Promotion</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('Promo_add') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        {#<a href="{{ path('visit_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>#}
                    </ul>
                </div>
            </div>

            <div class="section">
                <input type="radio" name="accordion-1" id="section-9"/>
                <label for="section-9"><span>Type d'entreprise</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('CompanyType_add') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        {#<a href="{{ path('visit_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>#}
                    </ul>
                </div>
            </div>

            <div class="section">
                <input type="radio" name="accordion-1" id="section-10"/>
                <label for="section-10"><span>Lier éléve a classe</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('spc_add') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        {#<a href="{{ path('visit_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>#}
                    </ul>
                </div>
            </div>


            <div class="section">
                <input type="radio" name="accordion-1" id="section-11"/>
                <label for="section-11"><span>Technologie</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('technology_new') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        <a href="{{ path('technology_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>
                    </ul>
                </div>
            </div>

            <div class="section">
                <input type="radio" name="accordion-1" id="section-12"/>
                <label for="section-12"><span>Référent Pédagogique</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('pedagogic_new') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        <a href="{{ path('pedagogic_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>
                    </ul>
                </div>
            </div>

            <div class="section">
                <input type="radio" name="accordion-1" id="section-13"/>
                <label for="section-13"><span>Référent technique</span></label>
                <div class="content">
                    <ul>
                        <a href="{{ path('technical_new') }}"><li><i class="fa fa-plus"></i><span>Ajouter</span></li></a>
                        <a href="{{ path('technical_index') }}"><li><i class="fa fa-search"></i><span>Rechercher</span></li></a>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div style ="margin-left: 210px; margin-top: 20px">
        {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- Script base -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Script perso -->

        {% block javascripts %}{% endblock %}
    </body>

</body>
</html>
