{% extends 'base.html.twig' %}
{% block body %}
    <style>
        input, select{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>
<h1>Ajout d'un élève</h1>
    <div class="col-xs-11"><hr/></div>
    <div class="col-xs-4">
    {{ form_start(form) }}
        {{ form_row(form.adress) }}
        {{ form_row(form.adresscity) }}
        {{ form_row(form.adresscp) }}
        {{ form_row(form.adresscomplement) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.gender) }}
        <ul class="graduation_wrapper" data-prototype="{{ form_widget(form.graduation.vars.prototype)|e('html_attr') }}">
            {{ form_row(form.graduation) }}
            {% for graduation in form.graduation %}
                <li></li>
            {% endfor %}
        </ul>
        <button type="button">Add</button>
        <br/><input class="btn btn-primary" type="submit" value="Ajouter">
    {{ form_end(form) }}
    </div>
{% block javascripts %}
    <script>
            var button = document.querySelector('button');
            // Get the ul that holds the collection of tags
            var wrapper = document.querySelector('ul.graduation_wrapper');

            button.addEventListener('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addGraduationForm(wrapper);
            });

            function addGraduationForm(wrapper) {
                // Get the data-prototype explained earlier
                var prototype = wrapper.dataset.prototype;

                var index = wrapper.querySelectorAll('li').length;

                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                index++;

                // Display the form in the page in an li, before the "Add a tag" link li
                var newElement = document.createElement('li');
                newElement.innerHTML = newForm;
                wrapper.appendChild(newElement);
            }
    </script>
    {% endblock %}
{% endblock %}
