{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-11">
<h2>{{ student.FirstName }} {{ student.LastName }} de {{ classe.entitled }} {{ classe.year }}</h2>
    <hr/>
</div>
    <div class="col-xs-6">
        <ul class="list-group">
            <li class="list-group-item">Addresse : {{student.Adress}}</li>
            <li class="list-group-item">complément d'addresse : {{student.AdressComplement}}</li>
            <li class="list-group-item">Ville : {{student.AdressCity}}</li>
            <li class="list-group-item">Code postal : {{student.AdressCp}}</li>
            <li class="list-group-item">Téléphone : <br/>{{student.Phone}}</li>
            <li class="list-group-item">Email : <br/>{{student.Email}}</li>
        </ul>
    </div>
{% endblock %}

