{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedarefs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedaRef in pedaRefs %}
            <tr>
                <td><a href="{{ path('pedagogic_show', { 'id': pedaRef.id }) }}">{{ pedaRef.id }}</a></td>
                <td>{{ pedaRef.firstName }}</td>
                <td>{{ pedaRef.lastName }}</td>
                <td>{{ pedaRef.phone }}</td>
                <td>{% if pedaRef.gender %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pedagogic_show', { 'id': pedaRef.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pedagogic_edit', { 'id': pedaRef.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedagogic_new') }}">Create a new pedaRef</a>
        </li>
    </ul>
{% endblock %}
