{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedaref</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pedaRef.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ pedaRef.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ pedaRef.lastName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ pedaRef.phone }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{% if pedaRef.gender %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedagogic_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pedagogic_edit', { 'id': pedaRef.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
