{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Technologies</h1>
<div class="col-xs-11">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technology in technologies %}
            <tr>
                <td><a href="{{ path('technology_show', { 'id': technology.id }) }}">{{ technology.id }}</a></td>
                <td>{{ technology.entitled }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('technology_show', { 'id': technology.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('technology_edit', { 'id': technology.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
