{% extends 'base.html.twig' %}

{% block body %}
    <h1>Technologie</h1>
<div class="col-xs-11">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technology.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ technology.entitled }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
