{% extends 'base.html.twig' %}

{% block body %}
    <h1>Technicalrefs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technicalRef in technicalRefs %}
            <tr>
                <td><a href="{{ path('technical_show', { 'id': technicalRef.id }) }}">{{ technicalRef.id }}</a></td>
                <td>{{ technicalRef.email }}</td>
                <td>{{ technicalRef.firstName }}</td>
                <td>{{ technicalRef.lastName }}</td>
                <td>{{ technicalRef.phone }}</td>
                <td>{% if technicalRef.gender %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('technical_show', { 'id': technicalRef.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('technical_edit', { 'id': technicalRef.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('technical_new') }}">Create a new technicalRef</a>
        </li>
    </ul>
{% endblock %}
