{% extends 'base.html.twig' %}

{% block body %}
    <h1>Technicalref</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technicalRef.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ technicalRef.email }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ technicalRef.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ technicalRef.lastName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ technicalRef.phone }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{% if technicalRef.gender %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('technical_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('technical_edit', { 'id': technicalRef.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
