{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #appbundle_classroom input{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>
<div style="text-align: center"><h1>Rechercher une classe</h1></div>
    <div class="col-xs-11"><hr/></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div style="text-align: center">
            <br/><input type="submit" value="Rechercher"><br/>
        </div>
        {{ form_end(form) }}
    </div>

    {% if table|length > 0 %}
        <div class="col-xs-12">
        <br/>
    <table id="data" class="table table-bordered">
        <thead>
        <tr class="filters">
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Promo</th>
        </tr>
        </thead>
        <tbody>
        {% for element in table%}
        <tr class="tr">
            <td>{{element.FirstName}}</td>
            <td>{{element.LastName}}</td>
            <td>{{element.Phone}}</td>
            <td>{{element.year}}</td>

            <td width="10%"><a href="{{ path('Student_view', {'id': element.id}) }}" class="btn btn-default btn-lg"><i class="fa fa-search" aria-hidden="true"></i></a>
            </td>
        </tr>
        <tr>
            {% endfor %}
        </tbody>
    </table>
        {% endif %}
    </div>
{% endblock %}