@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css );
.accordion {
    color: #FFF;
    width: 100%;
}
.accordion .section {
    width: 100%;
}
.accordion .section input[type='radio'] {
    display: none;
}
.accordion .section input[type='radio']:checked + label {
    background: #53768c;
}
.accordion .section input[type='radio']:checked + label:before {
    content: " ";
    position: absolute;
    border-left: 3px solid #446072;
    height: 100%;
    left: 0;
}
.accordion .section input[type='radio']:checked ~ .content {
    max-height: 300px;
    opacity: 1;
    z-index: 10;
    overflow-y: auto;
}
.accordion .section label {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    display: table;
    background: #446072;
    width: 100%;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.accordion .section label:before {
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    border-top: 1px solid #53768c;
}
.accordion .section label:hover {
    background: #53768c;
}
.accordion .section label span {
    display: table-cell;
    vertical-align: middle;
}
.accordion .section:last-of-type {
    border-bottom: 1px solid #53768c;
}
.accordion .section .content {
    max-height: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    position: relative;
    overflow-y: hidden;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #c2c2c2;
    font-family: 'Quicksand', sans-serif;
}

.left-menu {
    background: #446072;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.accordion {
    font-size: 14px;
}
.accordion .section .content {
    padding: 0 15px;
}
.accordion .section input[type='radio'] {
    display: none;
}
.accordion .section input[type='radio']:checked ~ .content {
    padding: 15px;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li {
    padding: 10px;
}
ul li i {
    font-size: 13px;
    width: 15px;
    margin-right: 15px;
}
ul li:hover {
    cursor: pointer;
}
ul li:hover i {
    color: #21CCFC;
}

.logo {
    padding: 30px 10px;
    width: 200px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
}
.logo i {
    font-size: 70px;
    color: #FFF;
}