{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #appbundle_company  input, select{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>
<h1>Ajout d'une entreprise</h1>
    <div class="col-xs-11"><hr/></div>
    <div class="col-xs-4">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div style="text-align: center">
        <br/><input type="submit" value="Ajouter">
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}