{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des stages</h1>

<div class="col-xs-11">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Entreprise</th>
                <th>Referant technique</th>
                <th>Referant pédagogique</th>
                <th>Etudiant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for internship in internships %}
            <tr>
                <td><a href="{{ path('internship_show', { 'id': internship.id }) }}">{{ internship.id }}</a></td>
                <td>{% if internship.begin %}{{ internship.begin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if internship.end %}{{ internship.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ internship.company.getName() }}</td>
                <td>{{ internship.technical }}</td>
                <td>{{ internship.peda }}</td>
                <td>{{ internship.student }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('internship_show', { 'id': internship.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('internship_edit', { 'id': internship.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('visit_new_intern', { 'id': internship.id }) }}">Add visit</a>
                        </li>
                    </ul>
                </td>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
