{% extends 'base.html.twig' %}

{% block body %}
    <style>
        input, select, textarea{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    </style>
<h1>Ajout d'un stage</h1>
    <div class="col-xs-11"><hr/></div>
    <div class="col-xs-4">
        {{ form_start(form) }}
        {{ form_row(form.begin) }}
        {{ form_row(form.end) }}
        {{ form_row(form.description) }}
        {{ form_row(form.company) }}
        {{ form_row(form.technical) }}
        {{ form_row(form.peda) }}
        {{ form_row(form.student) }}
        {{ form_row(form.tech) }}

        {#<ul class="techno_wrapper" data-prototype="{{ form_widget(form.tech.vars.prototype)|e('html_attr') }}">#}
            {#{% for techno in form.tech %}#}
                {#<li>{{ form_row(techno.entitled) }}</li>#}
            {#{% endfor %}#}
        {#</ul>#}
        {#<button type="button">Add</button>#}
        <br><input class="btn btn-primary" type="submit" value="Ajouter">
        {{ form_end(form) }}
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        var button = document.querySelector('button');
        // Get the ul that holds the collection of tags
        var wrapper = document.querySelector('ul.techno_wrapper');

        button.addEventListener('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addGraduationForm(wrapper);
        });

        function addGraduationForm(wrapper) {
            // Get the data-prototype explained earlier
            var prototype = wrapper.dataset.prototype;

            var index = wrapper.querySelectorAll('li').length;

            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            index++;

            // Display the form in the page in an li, before the "Add a tag" link li
            var newElement = document.createElement('li');
            newElement.innerHTML = newForm;
            wrapper.appendChild(newElement);
        }
    </script>
{% endblock %}

