{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stage</h1>
<div class="col-xs-11">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ internship.id }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{% if internship.begin %}{{ internship.begin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{% if internship.end %}{{ internship.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Techno</th>
                {% for techno in internship.tech %}
                    <tr>
                        <td>{{ techno.getEntitled() }}</td>
                     </tr>
                {% endfor %}

            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ internship.company.getName() }}</td>
            </tr>
            <tr>
                <th>Referant technique</th>
                <td>{{ internship.technical }}</td>
            </tr>
            <tr>
                <th>Referant péda</th>
                <td>{{ internship.peda }}</td>
            </tr>
            <tr>
                <th>Etudiant</th>
                <td>{{ internship.student }}</td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}
