{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des visites</h1>
<div class="col-xs-11">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Observation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td><a href="{{ path('visit_show', { 'id': visit.id }) }}">{{ visit.id }}</a></td>
                <td>{% if visit.date %}{{ visit.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ visit.observation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('visit_show', { 'id': visit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('visit_edit', { 'id': visit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
