{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visite</h1>
<div class="col-xs-11">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visit.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if visit.date %}{{ visit.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ visit.observation }}</td>
            </tr>
            <tr>
                <th>Etudiant</th>
                <td>{{ visit.Stage }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
